nvm node_mirror https://npmmirror.com/mirrors/node/
nvm npm_mirror https://npmmirror.com/mirrors/npm/
nvm install 18 && nvm use 18 # 安装 Node.js 18 版本
 
npm set registry https://registry.npmmirror.com
# 安装包管理工具
npm i -g @lzwme/nrm yarn pnpm
nvm use taobao
 
# 示例：nrm 添加内网 npm 私有仓库配置
# nrm add lzw https://registry.demo.me https://lzw.me
 
# 安装个人开发辅助工具
npm i -g tsx npm-check-updates @lzwme/git-helper @lzwme/m3u8-dl